body {
  background-image: url("./login_register/images/bg-01.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: relative;
  font-family: "Ubuntu", sans-serif;
}
